{% extends 'panel.twig' %}
{% import "forms.twig" as forms %}
{% set title = 'Új keresés' %}
{% set panel = 'primary' %}

{% block body %}
    <form method=get id="panel-search-church-form">
        <input type=hidden name=q value=SearchResultsChurches>
        <input type=hidden id=keresestipus name=keresestipus value=0>
        <style>
            #panel-search-form > .row{
                margin-bottom:10px;
            }
        </style>
        <div id="panel-search-form" style="padding-right:10px;padding-left:10px">
            <div class="row">
                <input type=text name=kulcsszo id='keyword' size=20 class="keresourlap form-control" value="{{ form.kulcsszo.value }}">                
            </div>
            <div class="row">
                <input type=submit value="keresés" class="keresourlap form-control">
            </div>
        </div>
    </form>
    <script>
    (function() {
        document.addEventListener('DOMContentLoaded', function() {
            if (typeof BoundaryAutocomplete !== 'undefined') {
                var boundaryDataFromUrl = window.boundaryDataFromUrl || [];
                BoundaryAutocomplete.init('#keyword', '#panel-search-church-form', boundaryDataFromUrl);
            }
        });
    })();
    </script>
    <script>
        // Inject boundary data from PHP backend           
        window.boundaryDataFromUrl = {{ boundaryDataJson ? boundaryDataJson|raw : '[]' }};
	</script>
{% endblock %}
