{% extends 'panel.twig' %}

{% set title = 'Új keresés' %}
{% set panel = 'primary' %}


{% block body %}  
  <i class="fas fa-search"></i>  
  <a href="/" class=link onclick="return goBackWithoutQ();">
    <b>Vissza a főoldali keresőhöz</b>
  </a>
{% endblock %}    

 